.Button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 70px;
  height: 70px;
  background-color: rgb(185, 241, 185);
  border: 0;
  border-radius: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  font-size: 1.6rem;
  font-family: monospace;
  color: lightseagreen;
  cursor: pointer;
}

.Button:hover {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.35);
}
.Button:active {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.35);
  background-color: lightseagreen;
  color: rgb(185, 241, 185);
}

.active {
  border: 2px solid lightcoral;
}

.passive {
  border: 2px solid lightseagreen;
}
