.TodoItem {
  padding: 6px 12px;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
  cursor: pointer;

  p {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
  }

  &:hover {
    background-color: #450663;
  }

  &:active {
    background-color: #a4508b;
  }
}

.statusDone {
  text-decoration: line-through;
}
