.NewMessage {
  margin: 24px 0;
  width: 400px;
}

.NewMessage form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.NewMessage form input {
  padding: 4px 2px 4px 12px;
  height: 30px;
  border-radius: 8px;
  border: 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
