.UserCard {
  display: flex;
  flex-direction: column;
  height: 200px;
  min-width: 180px;
  width: 180px;
  padding: 6px 12px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.35s;
}

.UserCard:hover {
  transform: scale(1.1);
}
.UserCard:active {
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.35);

  transform: scale(0.8);
}
