.NoteContent {
  width: 100%;
  padding: 20px;
  margin-left: 5px;

  input {
    width: 300px;
    padding: 12px 6px;
    border-radius: 8px;
    border: 0;
    border: 1px solid lightgrey;
    cursor: pointer;
  }
}

@media screen and (min-width: 676px) {
  .NoteContent {
    width: 65%;
  }
}
